$browsers: '', '-moz-', '-webkit-'
=transitions ($sec, $type: all, $accel: ease)
	@each $browser in $browsers
		#{$browser}transition: $type $sec $accel
=borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
=boxsizing ($type: border-box)
	@each $browser in $browsers
		#{$browser}box-sizing: $type
$menucolor: #88a8ff
$fonts: "Montserrat",georgia,serif
*
	+boxsizing
body
	margin: 0
	padding: 0
	font-family: $fonts
	min-height: 1900px
a
	text-decoration: none
	font-family: $fonts
ul, li, a
	+transitions(.3s)
button, a, label
	cursor: pointer
.w280
	width: 280px
header
	max-width: 1280px
	margin: 0 auto
	display: block
	position: relative
	.top
		width: 100%
		padding: 0 16px
		.top-badges
			position: fixed
			top: 0
			+transitions(.3s)
			a
				display: inline-block
				color: #fff
				height: 40px
				line-height: 40px
				padding: 0 16px
				margin-right: 4px
				+borderradius(0 0 8px 8px)
				&.badge-wa
					background: #20b038
				&.badge-gc
					background: #ff9300
				&.badge-ig
					background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
				img
					filter: invert(100%)
					height: 24px
					vertical-align: middle
				span
					@extend .desktop-only
			&.scrolled
				@media screen and ( min-width: 641px )
					top: 50px
		span.right
			height: 40px
			line-height: 40px
			display: block
			text-align: right
			font-size: 14px
	.middle
		height: 100px
		display: flex
		align-items: center
		.account-menu
			display: block
			flex-basis: 0
			flex-grow: 4
			flex-shrink: 1
			a
				display: inline-block
				padding: 0 16px
				font-size: 12px
				color: #888
				height: 32px
				line-height: 32px
			label
				padding: 0 16px
				img
					vertical-align: middle
		.search-container
			display: block
			flex-basis: 0
			flex-grow: 1.5
			flex-shrink: 1
			height: 50px
			line-height: 50px
			border: 1px solid #777
			padding: 0 16px
			position: relative
			background: #fff
			input[type="search"]
				height: 50px
				line-height: 50px
				width: 90%
				border: none
				font-size: 16px
				background: transparent
			button
				position: absolute
				right: 0
				top: 0
				height: 50px
				width: 50px
				background: transparent
				border: none
				img
					vertical-align: middle
		.logo-container
			display: block
			flex-basis: 0
			flex-grow: 1.5
			flex-shrink: 1
			height: 64px
			text-align: center
			img
				height: 100%
				width: auto
		.shopping-cart-container
			display: none
			position: absolute
			min-height: 120px
			background: #fff
			width: 368px
			+borderradius(16px)
			label.close-cart
				position: absolute
				top: 8px
				right: 16px
.header-menu
	background: $menucolor
	padding: 0
	margin: 0
	&.sticky
		position: fixed
		top: 0
		max-width: 1280px
		width: 100%
	li.level-1
		display: inline-block
		font-weight: 600
		position: relative
		a
			color: #333
			text-transform: uppercase
			height: 50px
			line-height: 50px
			padding: 0 16px
			display: block
			@media screen and ( min-width: 641px )
				&:hover
					color: darken($menucolor, 28%)
					~
						ul.level-2-container
							height: auto
							display: block
						div.level-2-container.columns
							height: auto
							display: flex
		label.expand-sign
			position: absolute
			right: 0
			top: 0
			width: 50px
			height: 50px
			line-height: 40px
			font-size: 20px
			display: block
			@extend .mobile-only
		.menu-children-expand
			display: none
			&:checked
				+
					ul.level-2-container
						display: contents
						height: auto
						li.level-2
							a
								font-weight: 400
					div.level-2-container.columns
						display: contents
						.column
							a
								font-weight: 400
								font-size: 16px
		ul.level-2-container
			height: 0
			display: none
			position: absolute
			top: 50px
			background: lighten($menucolor, 8%)
			padding-left: 0
			&:hover
				height: auto
				display: block
			li.level-2
				position: relative
				list-style-type: none
				a
					&:hover
						+
							ul.level-3-container
								width: auto
								height: auto
								display: block
				ul.level-3-container
					width: 0
					height: 0
					position: absolute
					display: none
					left: 100%
					top: 0
					background: lighten($menucolor, 8.8%)
					padding-left: 0
					&:hover
						width: auto
						height: auto
						display: block
					li.level-3
						list-style-type: none
						a
							word-wrap: none
							white-space: nowrap
		div.level-2-container.columns
			height: 0
			display: none
			position: absolute
			top: 50px
			background: lighten($menucolor, 8%)
			padding-left: 0
			@media screen and ( min-width: 641px )
				padding-bottom: 16px
				a.menu-banner
					min-height: 112px
					text-align: left
			.column
				display: table
				flex-basis: 0
				flex-grow: 1
				flex-shrink: 1
				padding: 0 8px
				@media screen and ( max-width: 640px )
					display: block
			&:hover
				height: auto
				display: flex
			a.menu-banner
				font-size: 14px
				white-space: nowrap
				img
					margin-top: 24px
					display: block
					width: 168px
					+borderradius(8px)
					@extend .desktop-only
				span
					text-align: center
					height: 40px
					width: 100%
			.lists
				@extend .desktop-only
				a
					font-size: 12px
					display: block
					height: 32px
					line-height: 32px
	@media ( max-width: 640px )
		li.level-1
			display: block
@media ( min-width: 641px )
	.mobile-only
		display: none !important
	// on desktop
	#menu-4:checked
		~
			.middle
				.shopping-cart-container
					border: 1px solid $menucolor
					border-bottom-width: 2px
					display: block
					left: 60px
					top: 120px
					z-index: 3

@media ( max-width: 640px )
	.desktop-only
		display: none !important
	// on mobile
	header
		position: relative
		display: block
		.header-menu
			position: absolute
			top: 50px
			display: none
		.middle
			.account-menu
				position: absolute
				top: 50px
				display: none
				a
					color: #333
					text-transform: uppercase
					height: 50px
					line-height: 50px
					padding: 0 16px
					display: block
					font-weight: 600
					font-size: 16px
					background: $menucolor
			.search-container
				position: absolute
				top: 50px
				display: none
	#menu-1:checked
		~
			.header-menu
				display: block
				width: 100%
				text-align: center
				background: lighten($menucolor, 8%)
	#menu-2:checked
		~
			.middle
				.search-container
					display: block
					width: 100%
	#menu-3:checked
		~
			.middle
				.account-menu
					width: 100%
					text-align: center
					background: lighten($menucolor, 5%)
					display: block
	#menu-4:checked
		~
			.middle
				.shopping-cart-container
					top: 50px
					width: 100%
					border-bottom: 1px solid #777
					display: block
					+borderradius(0)

.mobile-logo
	width: 100%
	text-align: center
	padding: 54px 0 20px
.main-thumb-menu
	display: none
	&:checked
		+ label
			filter: invert(37%) sepia(71%) saturate(3678%) hue-rotate(206deg) brightness(77%) contrast(97%)

.main-menu
	display: flex
	background: $menucolor
	padding: 0 16px
	.main-thumb-menu-label
		display: block
		text-align: center
		flex-grow: 1
		flex-shrink: 1
		flex-basis: 0
		height: 50px
		line-height: 64px
		cursor: pointer
		// img
		// 	&:hover, &:focus, &:active
		// 		filter: invert(37%) sepia(71%) saturate(3678%) hue-rotate(206deg) brightness(77%) contrast(97%)
	&.sticky
		position: fixed
		bottom: 0
		width: 100%
		~
			.middle
				.account-menu
					bottom: 50px
					position: fixed
					top: auto
				.search-container
					bottom: 50px
					position: fixed
					top: auto
				.shopping-cart-container
					bottom: 50px
					position: fixed
					top: auto
			.header-menu
				bottom: 50px
				position: fixed
				top: auto
